---
title: Contact
map:
  latitude: 48.842890
  longitude: 2.320418
  zoom: 13
layout: contact
---



<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Restons en contact !</h2>
		<p class="subtext editable">Découvre la Newsletter <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/full-white-logo.svg" alt="CodeDuSoir" width="200" style="vertical-align:middle;"></a>!<br>
		Chaque mois, retrouve l'essentiel de l'actualité "techno" pour l'enseignement.</p>
	</div>
</section>

<section class="diagonal">
	<div class="container">


		<form id="myForm" action="https://formspree.io/myypzvgd" method="post" class="contact-form">

			<input type="email" name="email" id="email" placeholder="Adresse email" required />

			<div class="halves">
    				<div class="form-group">
					<label class="checkbox-container">Je m'inscris à la Newsletter !
					  <input type="checkbox" name="newsletter" id="newsletter" checked="checked">
					  <span class="checkmark"></span>
					</label>
                            	</div>

				<div class="form-group">
					<label class="checkbox-container">Je veux discuter. Recontacte-moi !
					  <input type="checkbox" name="contact" id="contact" >
					  <span class="checkmark"></span>
					</label>
                            	</div>


			</div>
			<input type="submit" value="Envoyer"/>
		</form>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container">
<h2 class="editable">Notre équipe</h2>
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% assign _staff_members = site.staff_members | sort: 'order' %}
			{% for member in _staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>


<section class="diagonal">
	<div class="container halves aligned-top">
		<div>
			<h3>Adresse</h3>
				<address><a target="_blank" href="https://www.openstreetmap.org/search?query={{ site.data.company.address | url_encode }}">{{ site.data.company.address | replace: ", ", ", <br>" }}</a></address>
		</div>
		<div>
			<h3>Email</h3>
			<p><a href="mailto:{{ site.data.company.contact_email_address }}">{{ site.data.company.contact_email_address }}</a></p>
		</div>
	</div>
</section>


<section class="diagonal map">
	<div id="map"></div>
</section>

<!-- Fichiers Javascript -->
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script type="text/javascript">
    // On initialise la latitude et la longitude de Paris (centre de la carte)
    // https://nouvelle-techno.fr/actualites/2018/05/11/pas-a-pas-inserer-une-carte-openstreetmap-sur-votre-site
    window.mapData = {{ page.map | jsonify }};
    var lat = window.mapData.latitude;
    var lon = window.mapData.longitude;
    var macarte = null;
    // Fonction d'initialisation de la carte
    function initMap() {
        // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
        macarte = L.map('map', { scrollWheelZoom: false }).setView([lat, lon], 11);
        // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            // Il est toujours bien de laisser le lien vers la source des données
            attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
            minZoom: 1,
            maxZoom: 20
        }).addTo(macarte);
    }
    window.onload = function(){
	// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
	initMap(); 
	var marker = L.marker([lat, lon]).addTo(macarte);
    };

 </script> 
