---
title: Directs
layout: default
---



<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Nos directs sur Twitch</h2>
		<p class="subtext editable">Twitch.tv est la plus grosse plate-forme de livestreaming au monde, et la source principale de divertissement dans l’univers du Gaming.</p> 
		<p class="subtext editable">Tu veux connaitre nos prochains directs ? Alors on garde le contact !</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Newsletter !</a></p>
	</div>
</section>

<section class="diagonal">
	<div class="container">

		 <div class="responsive-video-container">
		 	<iframe sandbox="allow-same-origin allow-scripts allow-popups" src="https://bittube.video/videos/embed/0e95e4bf-7eed-441c-8e95-c6aad3f818d9?loop=1&autoplay=1"frameborder="0" allowfullscreen></iframe>
		</div>


		<h2 id="Avantages">Avantages</h2>

		<p>Vous êtes des millions à vous réunir chaque jour sur Twitch pour discuter, interagir, et créer live. <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/full_logo_blue.png" alt="CodeDuSoir" width="200" style="vertical-align:middle;"></a> l'utilise aussi !</p>
		<p>Les principaux avantages pour toi sont l'<strong>absence d'installation</string> ou de <strong>création de compte</strong>. </p>


		<h2 id="Avantages">Nos directs hebdomadaires</h2>

			<ul>
			  <li><a href="{{ site.baseurl }}/formations/twitch-python3">Python3 - Les fondamentaux pour le lycée<a></li>
			  <li><a href="{{ site.baseurl }}/formations/twitch-scratch3">Scratch3</a></li>
			</ul>
		<a style="text-align: center;" class="button alt" type="blue" target="_blank" href="https://www.twitch.tv/codedusoir">Accès au live</a>
	</div>
</section>
