---
title: Formations
layout: default
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Nos Formations</h2>
		<p class="subtext editable">Des besoins spécifiques? Nous nous adaptons !</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contacte nous !</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_formations/" class="btn"><strong>&#9998;</strong> Manage Clients</a></p>
		<ul class="image-grid">
			{% assign _formations = site.formations | sort: 'order' %}
			{% for formation in _formations %}
				<li>
					<a href="{{ site.baseurl }}{{ formation.url }}">
						<img src="{% include relative-src.html src=formation.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ formation.name }}</div>
							<div class="position">{{ formation.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
