---
title: C<>deDuSoir
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Décoder le futur !</h2>
		<p class="subtext editable">
		<img src="{{ site.baseurl }}/images/full-white-logo.svg" alt="CodeDuSoir" width="200" style="vertical-align:middle;"> est une association pour l'<a href='{{ site.baseurl }}/apprentissage-multimodal' target='_blank' >apprentissage multimodal</a> adapté aux <strong>étudiants</strong> et aux <strong>enseignants</strong>. Elle permet de se former au codage informatique et à l’algorithmique.
		</p>
		<p class="subtext editable">
		<img src="{{ site.baseurl }}/images/full-white-logo.svg" alt="CodeDuSoir" width="200" style="vertical-align:middle;"> promeut et développe l'utilisation de <a href="{{ site.baseurl }}/libre-opensource">logiciels libres</a> pour l'éducation.
		</p>

		<p class="subtext editable">Chaque mois, retrouve l'essentiel de l'actualité "techno" pour l'enseignement.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Newsletter</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Nos formations</h3>
			<p class="editable">Au collège ou au lycée, avec Scratch ou avec python, en distanciel ou présentiel, pour les profs ou pour les élèves.</p>

			<p class="editable"><a href="{{ site.baseurl }}/formation/">Voir toutes nos formations &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% assign _formations = site.formations | sort: 'order' %}
				{% for formation in _formations limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ formation.url }}"><img src="{% include relative-src.html src=formation.image_path %}" class="screenshot"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/scratch-junior.png" width="350"></li>
				<li><img src="{{ site.baseurl }}/images/python.svg" width="350"></li>
				<li><img src="{{ site.baseurl }}/images/scratch.svg" width="350"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">"Décoder le futur !", en s'amusant évidemment.</h3>
			<p class="editable">
				Depuis 2018, le codage informatique a fait son entrée dans les programmes scolaires, et tant mieux ! 
			</p>
			<p class="editable">
				Tu veux apprendre la programmation ? Retrouve nos directs les mardis et vendredi à 16h !
			</p>
			<p><a style="text-align: center;" class="button alt" type="blue" href="{{ site.baseurl }}/directs">Voir nos directs</a></p>

		</div>
	</div>
</section>
