---
title: Team
layout: default
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Notre équipe</h2>
		<p class="subtext editable"><img src="{{ site.baseurl }}/images/full-white-logo.svg" alt="CodeDuSoir" width="200" style="vertical-align:middle;"> s'est associé à <a href="{{ site.baseurl }}/axepromotion">{{ site.data.company.title }}</a> organisme de formation accrédité pour délivrer des formations certifiées.
		</p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% assign _staff_members = site.staff_members | sort: 'order' %}
			{% for member in _staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
