---
layout: page
---
<section class="diagonal">
	<div class="blog-post text-container">
		{% include post-title.html post=page %}
		<div class="post-content">
			{{ content }}
		</div>
	</div>
</section>


<section class="diagonal patterned">
	<div class="container">
		<ul class="image-grid">
			<li>
				<div class="square-image"><img src="{{ site.baseurl }}/{{ page.image_path}} " alt="{{ page.author }}"/></div>
			</li>
		</ul>
	</div>
</section>
